name: Conda

on:
  push:
    branches: [master]
    tags: ["v*.*.*"]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build-conda-packages:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
        working-directory: conda

    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          auto-activate-base: true
          activate-environment: ""
          python-version: 3.13

      - name: Build conda package
        run: |
          bash -il ./setup-conda-build.sh
          ./package.sh
          echo "Packages built: $(find build_pkg -name ismrmrd*.tar.bz2)"

      - name: Publish conda package
        if: ${{ github.event_name == 'release' }}
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          for p in $(find build_pkg -name ismrmrd*.tar.bz2)
          do
            ./publish_package.sh -u ismrmrd -t "$ANACONDA_TOKEN" -p "$p"
          done
