name: CMake

on:
  push:
    branches: [master]
    tags: ["v*.*.*"]
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  BUILD_TYPE: Release
  REGISTRY: ghcr.io

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install doxygen git-core graphviz libboost-all-dev libfftw3-dev libhdf5-serial-dev libxml2-utils libpugixml-dev socat

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: |
        cmake --build . --config $BUILD_TYPE
        cmake --build . --target doc --config $BUILD_TYPE

    - name: Test XML
      working-directory: ${{github.workspace}}/schema
      run: for xml_file in *.xml; do xmllint --schema ismrmrd.xsd "$xml_file" --noout; done

    - name: Test
      working-directory: ${{github.workspace}}/build/tests
      run: ./test_ismrmrd

  build-docker:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v6
    - name: Build and test docker images
      working-directory: ${{github.workspace}}
      run: |
        ./docker/build-images.sh
        ./docker/test-images.sh

    - name: Log into registry ${{ env.REGISTRY }}
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push images
      if: ${{ github.event_name == 'release' }}
      working-directory: ${{github.workspace}}
      run: |
        ./docker/build-images.sh --tag "${GITHUB_REF##*/}" --push

  build-static:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - name: Build and test static binaries
      run: ./docker/build-and-test-variant.sh static

  build-cpp98:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - name: Build and test C++98 binaries
      run: ./docker/build-and-test-variant.sh cpp98
